sonar.host.url={{.Host}}
sonar.login={{.Login}}
sonar.password={{.Password}}
sonar.projectKey={{.Key}}
sonar.projectName={{.Name}}
sonar.projectVersion={{.Version}}
sonar.sources={{.Sources}}
sonar.sourceEncoding={{.Encoding}}
sonar.branch={{.BranchOut}}
{{if .Inclusions}}
sonar.inclusions={{.Inclusions}}
{{end}}
{{if .Exclusions}}
sonar.exclusions={{.Exclusions}}
{{end}}
